@import '../fonts/fonts.css';

#abt-me-cntr {
    padding: 30px;
    height: 500px;
    background-color: rgb(0,0,0, 0.3);
}

.abt-me-box1 {
    min-height:70vh;
	height:auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: default;
}

.abt-me-box1.bg1 {
    background-image: url('../images/abt/bg1.png');
}

.abt-me-box1.bg2 {
    background-image: url('../images/abt/bg2.png');
}

.abt-me-box1.bg3 {
    background-image: url('../images/abt/bg3.png');
}

.abt-me-box1.bg4 {
    background-image: url('../images/abt/bg4.png');
}

.abt-me-box1.bg5 {
    background-image: url('../images/abt/bg5.png');
}

.abt-me-box1.bg6 {
    background-image: url('../images/abt/bg6.png');
}

#abt-me-box2 {
    padding: 30px;
    background-color: rgb(0,0,0, 0.05);
    width: 60vw;
    min-width: 65vw;
    color:rgba(255, 255, 255);
    font-size:clamp(12px,1.5vw,15px);
    font-family: 'Sansation Light';

    transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition:all 0.7s ease-in-out;
	-ms-transition:all 0.7s ease-in-out;
}

@keyframes fadein {
    from{opacity:0;}
    to {opacity:1;}
  }

#abt-me-box2:hover {
    color:black;
    background-color: rgb(255, 255, 255, 1);
}