#footer {
    text-align:center;
    width:auto;
    height:40px;			/* Height of the footer */
    background-color:#3b5998;
    padding:10px;
    padding-bottom:15px;
}

#footer-item{
    font-size: 13px;
    cursor:default;
    font-family:Courier New;
    color:black;
    opacity:0.9;
}